<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ホーム</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue-long-click@0.0.4/dist/libs/vue-long-click.umd.min.js"></script>
        <script src="../static/lib/regularExpression.js"></script>
        <script src="../static/lib/checkMedia.js"></script>
        <link href="../static/css/common.css" rel="stylesheet">
        <style>*{height: initial;}</style>
    </head>
    <body>
        <div id="con" style="background-color: cadetblue;">
            <canvas-palette></canvas-palette>
        </div>
        <script>
            const longClickInstance = window['vue-long-click'].longClickDirective({delay: 400, interval: 10000})
            Vue.directive('longclick', longClickInstance)
            new Vue({
                el: "#con",
                components: {
                    'canvas-palette': httpVueLoader('../static/js/home/canvas-palette.vue'),
                },
            });
        </script>
    </body>
</html>

