<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>試作品</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style>
            *{
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div id="con" style="background-color: cadetblue; height: 500px;">
            <!-- <ul>
                <tree-path class="item" :item="treeData"></tree-path>
            </ul> -->
            <select-path></select-path>
        </div>
        <script>
            new Vue({
                el: "#con",
                components: {
                    'select-path': httpVueLoader('../static/js/select-path.vue'),
                },
            });
        </script>
    </body>
</html>

