<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>試作品</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style>

        </style>
    </head>
    <body>
        <!-- <span id="color">
            <input id="black" name="color" type="radio" value="#000000"><label for="black">a</label>
            <input id="one"   name="color" type="radio" value="#ff0000" checked><label for="one">b</label>
            <input id="two"   name="color" type="radio" value="#00ff00"><label for="two">c</label>
            <input id="three" name="color" type="radio" value="#0000ff"><label for="three">d</label>
			<input id="four"  name="color" type="radio" value="#ffff00"><label for="four">e</label>
            <input id="five"  name="color" type="radio" value="#ffffff"><label for="five">f</label>
        </span>
        <span id="pen">
            <input id="marker"   name="pens" type="radio" value="marker" checked><label for="marker">aa</label>
            <input id="thinPen"  name="pens" type="radio" value="thinPen"><label for="thinPen">bb</label>
            <input id="thickPen" name="pens" type="radio" value="thickPen"><label for="thickPen">cc</label>
        </span> -->
        <div id="con" style="width: 900px; height: 900px; background-color: cadetblue;">
            <my-palette></my-palette>
            <my-canvas></my-canvas>
        </div>
        <script>
            new Vue({
                el: "#con",
                components: {
                    'my-canvas': httpVueLoader('../static/js/my-canvas.vue'),
                    'my-palette': httpVueLoader('../static/js/my-palette.vue'),
                },
            });
        </script>
    </body>
</html>

