<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>仮登録</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href="../static/css/common.css" rel="stylesheet">
    </head>
    <body>
        <div id="con">
            <signup-pre-form></signup-pre-form>
        </div>
        <script>
            new Vue({
                el: "#con",
                components: {
                    'signup-pre-form': httpVueLoader('../static/js/signup/signup-pre-form.vue'),
                },
            });
        </script>
    </body>
</html>

