<html>
<head>
<meta http-equiv="Refresh" content="0; URL=javaScript:Link_de_Post()">
<script language="JavaScript">
	// URLを取得
	var url = new URL(window.location.href);
		// URLSearchParamsオブジェクトを取得
		var params = url.searchParams;
		// getメソッド
		let getimg = params.post('aaa');
		console.log(getimg);
function Link_de_Post(){
document.form1.submit();
}
</script>
</head>


<body> 
<form name="form1" method="post" action="/">

<input type="hidden" name="aaa" value="1">
<input type="hidden" name="bbb" value="20">
<input type="hidden" name="ccc" value="300">

</form>
</body>
</html>