<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>試作品</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style>
            *{
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div id="con" style="background-color: cadetblue;">
        </div>
        <script>
            new Vue({
                el: "#con",
                components: {
                    'canvas-palette': httpVueLoader('../static/js/canvas-palette.vue'),
                    'my-colors-config': httpVueLoader('../static/js/my-colors-config.vue'),
                },
            });
        </script>
    </body>
</html>

