<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>試作品</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href="../static/css/common.css" rel="stylesheet">
    </head>
    <body>
        <div id="con" style="background-color: cadetblue;">
            <file-manager></file-manager>
        </div>
        <script>
            new Vue({
                el: "#con",
                components: {
                    'file-manager': httpVueLoader('../static/js/management/file-manager.vue'),
                },
            });
        </script>
    </body>
</html>

